body
{
  margin:auto;
  text-align:center;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color:lightblue;
}

.bottom
{
  font-size:0.5em;
  padding:1em;
  background-color:black;
  color:green;
  text-align:center;
}

.dumb
{
  padding-top:1500px;
}

.ex
{
  position:fixed;
  left:50%;
  top:30px;
  margin-left:-110px; /*half of the width*/
  width:220px;
  padding:10px;
  
  border:5px solid gray;
  border-radius:1em;
  
  background-color:yellow;
  opacity:1;
  filter:alpha(opacity=100); /* For IE8 and earlier */
  
  -ms-transform:rotate(-11deg); /* IE 9 */
  -webkit-transform:rotate(-11deg); /* Chrome, Safari, Opera */
  transform:rotate(-11deg);
  
  color:blue;
  text-align:inherit;
  font-family:Impact, Charcoal, sans-serif;
}

/*.ex:hover
{
  opacity:1;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}
