body
{
  margin:auto;
  text-align:center;
}

.ex
{
  -ms-transform:rotate(-11deg); /* IE 9 */
  -webkit-transform:rotate(-11deg); /* Chrome, Safari, Opera */
  transform:rotate(-11deg);
  
  color:blue;
  margin:auto;
  text-align:inherit;
  width:220px;
  padding:10px;
  border:5px solid gray;
  border-radius:1em;
}
